.main-content {
    background-color: white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    font-family: Piazzolla;
    /* width: 100%; */
}

.main-content-head {
    display: flex;
    justify-content: center;
}

.main-content-head > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.main-content-head > div > h2 {
    font-size: 25px;
    margin: 15px;
}

.main-content-head > div > p {
    font-size: 15px;
    width: 300px;
    line-height: 1.25;
}

.discovery-box {
    background-color: rgb(240, 238, 226);
    border-radius: 3.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    margin-top: 50px;
}

.discovery-box > h2 {
    font-size: 30px;
}

.book-index-item {
    display: flex;
    width: 200px;
    height: 300px;
    margin: 20px;
}

.book-index-item > a > img {
    width: 200px;
    height: 300px;
}

.splash-book-covers {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: inherit;
}

.signup-errors-placeholder{
    height: 75px;
}