.nav-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(240, 238, 226);
    border-bottom: 2.5px solid rgb(235, 236, 230);
    align-items: center;
    margin: auto;
}


.signup-and-login-buttons {
    display: flex;
    flex-direction: flex-end;
    padding: 2px;
}


.logo {
    display: flex;
}

.logo-history {
    font-family: Lucida Console, Monaco, monospace;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
    color: black;
}

.logo-reads{
    font-family: Lucida Console, Monaco, monospace;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
    color: rgb(56, 33, 16);
}

.sign-in-button {
    background-color: rgb(56, 33, 16);
    color: white;
    border-radius: 3px;
    border-color: rgb(56, 33, 16);
    cursor: pointer;
    width: 75px;
    font-family: Lucida Console,
    Monaco,
    monospace;
}

.demo-button {
    background-color: goldenrod;
    color: black;
    border-radius: 3px;
    border-color: goldenrod;
    cursor: pointer;
    width: 75px;
    font-family: Lucida Console,
    Monaco,
    monospace;
}


.login-form {
    margin: auto;
    display: flex;
    align-items: center;
}

.login-errors{
    margin-right: 10px;
    color: red;
    font-family: 'Courier New',
    Courier,
    monospace;
    font-size: smaller;
}

.login-form > label, button {
    margin-right: 4px;
    font-family: Lucida Console,
    Monaco,
    monospace;
}


.logged-in-navbar {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.logout-button {
    background-color: rgb(56, 33, 16);
    color: white;
    border-radius: 3px;
    border-color: rgb(56, 33, 16);
    cursor: pointer;
    width: 75px;
    font-family: Lucida Console,
    Monaco,
    monospace;
    margin-left: 10px;
}

.browse-button {
    background-color: rgb(56, 33, 16);
    color: white;
    border-radius: 3px;
    border-color: rgb(56, 33, 16);
    cursor: pointer;
    width: 75px;
    font-family: Lucida Console,
    Monaco,
    monospace;
    margin-left: 10px;
}