.browse-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.book-index-container {
    display: flex;
    flex-direction: column-reverse;
    /* font-family: Lucida Console,
        Monaco,
        monospace; */
    width: 500px;
    justify-content: center;
    align-items: center;
}

.book-index-container > a > img {
    width: 300px;
    height: auto;
    padding: 20px;
}

.book-index-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.book-index-title {
    font-size: large;
    font-weight: 900;
    margin-bottom: 10px;
}

.book-index-author {
    font-size: large;
    font-weight: lighter;

}

.book-index-description {
    line-height: 1.5;
}

/* 

.book-index-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.book-index-cover-photo {
    border-color: black;
    padding: 10px;
}


/* .book-index-isbn {

} */