

.book-show-container {
    display: flex;
    font-family: Lucida Console,
    Monaco,
    monospace;
    padding: 10px;
}

.book-show-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.book-show-cover-photo {
    border-color: black;
    padding: 10px;
    width: 340px;
    height: 500px;
}

.book-show-title {
    font-size: xx-large;
    font-weight: 900;
}

.book-show-author {
    font-size: x-large;
    font-weight: lighter;

}

.book-show-description {
    line-height: 1.5;
}

.review-list-item-buttons{
    margin-top: 10px;
    display: flex;
}

.edit-form-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ReactModal__Content{
    background-color: beige;
    opacity: .85;
} 