.nav-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: black;
    /* background-color:blue; */
}

.nav-bar > h1 {
    border: blueviolet;
}
/* .content {

} */

.signup-and-login-buttons {
    display: flex;
    flex-direction: flex-end;
    background-color: red;
}



.signupbtn {
    padding: 20px;
    border: black;
    border-style: solid;
}

.loginbtn {
    padding: 20px;
    border: black;
    border-style: solid;
    border-radius: 10px;
}

.goodreads-logo {
    font-size: 30px;
    padding: 20px;
    background-color: red;
}