.nav-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(240, 238, 226);
    border-bottom: 3px solid rgb(235, 236, 230);
    height: 40px;
    align-items: center;
}

.nav-bar > h1 {
    border: blueviolet;
}
/* .content {

} */

.signup-and-login-buttons {
    display: flex;
    flex-direction: flex-end;
    /* background-color: red; */
}

.logo {
    display: flex;
}
.logo-history {
    font-family: 'NimbusSanLConRegular';
    font-weight: bolder;
    font-style: normal;
    font-size: 26px;
}
.logo-reads{
    font-family: 'NimbusSanLConRegular';
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    color: rgb(56, 33, 16);
}

.sign-in-button {
    background-color: rgb(56, 33, 16);
    color: white;
}

/* .signupbtn {
    padding: 20px;
    border: black;
    border-style: solid;
}

.loginbtn {
    padding: 20px;
    border: black;
    border-style: solid;
    border-radius: 10px;
} */