.nav-bar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(240, 238, 226);
    border-bottom: 2.5px solid rgb(235, 236, 230);
    height: 40px;
    align-items: center;
}


.signup-and-login-buttons {
    display: flex;
    flex-direction: flex-end;
    padding: 2px;
    
    /* background-color: red; */
}

.logo {
    display: flex;
    margin-left: 150px;
}

.logo-history {
    font-family: Lucida Console, Monaco, monospace;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
    color: black;
}

.logo-reads{
    font-family: Lucida Console, Monaco, monospace;
    font-weight: lighter;
    font-style: normal;
    font-size: 30px;
    color: rgb(56, 33, 16);
}

.sign-in-button {
    background-color: rgb(56, 33, 16);
    color: white;
    border-radius: 3px;
    border-color: rgb(56, 33, 16);
    cursor: pointer;
}

.demo-button {
    background-color: rgb(56, 33, 16);
    color: white;
    border-radius: 3px;
    border-color: rgb(56, 33, 16);
    cursor: pointer;
}


.login-form {
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.login-errors{
    margin-right: 10px;
    color: red;
    font-family: 'Courier New',
    Courier,
    monospace;
    font-size: smaller;
}

.login-form > label, button {
    margin-right: 4px;
}

.logo > div > p, button {
    font-family: 'Courier New',
    Courier,
    monospace;
}
/* margin for individual username/password to give space between the two */
/* .signupbtn {
    padding: 20px;
    border: black;
    border-style: solid;
}

.loginbtn {
    padding: 20px;
    border: black;
    border-style: solid;
    border-radius: 10px;
} */