.reviews {
    display: flex;
    font-family: Lucida Console,
    Monaco,
    monospace;
    padding: 10px;
}

.reviews-break{
    border: 1px solid rgb(56, 33, 16);
}

.review-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-form > form {
    display: flex;
    flex-direction: column;
}

.review-form > button {
    background-color: rgb(56, 33, 16);
    color: white;
    border-radius: 3px;
    border-color: rgb(56, 33, 16);
    cursor: pointer;
    width: 120px;
    font-family: Lucida Console,
    Monaco,
    monospace;
}

.reviews-list  {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.reviews-list > ul {
    padding: 10px;
    width: 100%;
    margin: 10px;
    background-color: #f0eee2;
    border-radius: 3px;
    /* height: auto; */
}

.review-list-item {
    
}

.review-list-item-rating  {
    margin-bottom: 10px;
}

.review-list-item-body  {
    line-height: 1.25;
}

.review-form-field {
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font-family: "Lato",
    "Helvetica Neue",
    "Helvetica",
    sans-serif;
    resize: none;
}

.review-form-field > ::placeholder {
    font-family: "Lato",
    "Helvetica Neue",
    "Helvetica",
    sans-serif;
}

/* STAR RATING COMPONENT */
.rating-form {
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
}

.heading {
    padding: .5rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-input {
    margin: 1rem;
}

.form-input label {
    font-weight: bold;
    display: block;
}

.form-input input,
.form-input textarea {
    font-size: 1.5rem;
    width: 100%;
}

.form-input textarea {
    height: 5rem;
}

.form-input.rating {
    text-align: right;
}

.form-input.rating .rating {
    font-size: 2rem;
}

.actions {
    padding: 1rem;
    text-align: right;
}

.actions button {
    padding: .5rem;
}